//colors
$primary: #A59209;
$secondary: #004F59;
$accent: #CCB400;
$accent-secondary : #008599;
$black: #000000;
$dark-gray: #2f2f30;
$light-gray: #a9a9aa;
$white: #ffffff;


//space and sizes
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 3.2rem;
$xxl-size: 4.0rem;
$desktop-breakpoint: 45rem;